
canvas {
    width: 1200px;
    height: 700px;
    position: absolute;
    border-radius: 25px;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 10px 10px 20px 0px rgb(236, 236, 236);
    transition: all 1s;
    z-index: 2;
  }
  


@media only screen and (min-width: 1280px){
/*header*/
.header {
  width: 100%;
  height: 80px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-position: center;
  background-size: contain;
  color: #000000;
  position: fixed;
  z-index: 9000;
 
}

.headerContents {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}


.headerContents a {
  float: right;
  margin: 35px;
}


.headerContents ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
/*sectionI*/
.sectionI {
  width: 100vw;
  min-height: 1200px;
  max-height: 100vh;
  position: relative;
  background-image: url(./img/section01Background.svg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.sectionIContents {
  width: 1200px;
  min-height: 1300px;
  max-height: 100vh;
  margin: 0 auto;
  transition: all 0.8s;

}


.sectionIContents h2{
  font-size: 8rem;
  font-weight: 800;
  position: absolute;
  left: 50px;
  z-index: 10;
  line-height: 140px;
  bottom: 6.5%;
}



#piPe{
  position: absolute;
  left: 450px;
  width: 250px;
  height: 250px;
  z-index: 1;
}

#aBstract{
  position: absolute;
  left: -100px;
  top: 30px;
  width: 300px;
  height: 300px;
  z-index: 11;
}



#popIt{
  position: absolute;
  right: -15%;
  top: -5%;
  transform: translateX(-15%), translateY(-5%);
  width: 470px;
  height: 440px;
  z-index: 11;
}


#sPonge{
  position: absolute;
  left: 35%;
  top: 20%;
  transform: translateX(-35%), translateY(-40%);
  width: 400px;
  height: 400px;
  z-index: 11;
}



#brick{
  position: absolute;
  bottom: 390px;
  right: -50px;
  width: 200px;
  height: 200px;
  z-index: 11;
}

#fLuid{
  position: absolute;
  bottom: 500px;
  right: -105px;
  width: 350px;
  height: 250px;
  z-index: 12;

}

/*sectionII*/
.sectionII {
  width: 100vw;
  height: 769px;
  margin: 0 auto;
  position: relative;
  background-color: #dee1eb;
}
.sectionIIContents {
  width: 1200px;
  height: 769px;
  margin: 0 auto;
}

.profileBox{
  width: 600px;
  height: 550px;
  background-color: #ffffff;
  margin-top:102px;
  border-radius: 25px;
  float: left;
  position: absolute;
}



#square{
  width: 60px;
  height: 60px;
position: absolute;
right: 520px;
margin-top: 97px;
  
}




.profileBox img {
  width: 520px;
  height: 520px;
  margin-top: 30px;
  margin-left: 40px;
}


.aboutMe{
  width: 500px;
  height: 550px;
  margin-top: 82px;
  float: right;
}

.introDuce{
  width: 100%;
  height: 140px;
  border-bottom:5px solid black ;
}


.introDuce h2{font-size: 5.5rem;
font-weight: 700;
padding-bottom: 30px;}


.sectionIII{
  width: 100vw;
  height: 700px;
  position: relative;
}


.sectionIV{
    width: 100vw;
    height: 700px;
    position: relative;
}

.sectionV{

    width: 100vw;
    height: 700px;
    position: relative;
  
  
  
}
}